# Protect proteus directory from temporary backup files
proteus/*.DBK
proteus/*.pdsbak
proteus/*.workspace

# Protect simulink directory from cache folders
simulink/slprj/
simulink/*.slxc
simulink/*.autosave